html {
    background: #cccccc;

}
h1 {
    text-align: center;
    font-style: italic;
    font-family: "Arial Rounded MT Bold";

}
body {
        font-family: Arial;
        font-style: italic;
        text-align: justify;


    }

.fig {
    text-align: center; /*вирівнювання тексту і зображення по центру*/
}
.line {
    border-left: 5px solid blue; /* Параметри лінії */
    margin-left: 20px; /* Відступ зліва */
    padding-left: 10px; /* Відступ від лінії до тексту */
}

#color{
   color: #4771dc;
}
